.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


/*Restaurant component*/
img.restaurant {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 25%;
  border-color: #114d4d;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  margin-left: 10rem;
  
}
h2.restaurant {
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 2em;
  text-align: center;
  color: #114d4d;
  

}
p.restaurant {
  font-family:"Open Sans","Helvetica Neue","Sans Serif"!important;
  font-size:0.7em;
  text-align: center;

}

/*Home component*/
h2 {
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 3em;
  text-align: left;
  color: #114d4d;

}


.home-banner{
  width: 100%;
  margin: 0px;
  padding-top: 4rem;
  background-color: rgb(243, 190, 125);

}

.logo-img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

p.home-banner{
  font-family:"Open Sans","Helvetica Neue","Sans Serif"!important;
  font-size:1.5em;
  text-align: left;
  padding-top: 2rem;
}

.home-banner1{
  background-color: white;
  max-width: unset;
  padding: 15rem 20rem;
}
.home-banner2{
  max-width: unset;
  background-color: #f8f0e0;
  padding: 20rem;
 

}

.partners{
  background-color: #c9e265;
  max-width: unset;
  width:100%!important ;
  margin: 0px;
  padding: 140px;

}

.footer{
  background-color: #f8f0e0;
  text-align: center;
  bottom: 0;
}
.home-page{
  width: 100%;
  height: 100%;
}
.home{
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
  
}
.btn-lg{
  background-color: #c9e265;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  margin-left: 50px;
  border-style: none;

}
.btn-lg:hover{
  border-width: 3px;
  border-style: solid;
   border-color: #114d4d;

}


/*Footer i linkovi*/
.footer{
  text-align: left;
}
li{
  text-decoration: none;
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1em;
  display: inline;
  color: #114d4d;
  margin: 0;
  padding: 0;
}
ul{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item{
  text-decoration: none;
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1em;
  color: #114d4d;
}
.nav-item:hover{
  text-decoration: none;
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1em;
    color: #c9e265;
}
h3{
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1.5em;
  color: #114d4d;
  text-align: center;
  
}
.footer{
  text-align: center;
}
.btn-link{
  text-decoration: none;
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1em;
    color: #114d4d;
}
.btn-link:hover{
  text-decoration: none;
  color: orange;
}
#contact-link{
  display: block;
}


/* Postani partner*/
.partner-form{
  display: block;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
  border-radius: 10px; 
}
.partner-page{
  padding: 4em;
}


/*Prijavi se*/

.container-login{
  text-align: center;
  background-image: url("../src/img/login.png");
  
  padding-top: 50px;
  padding-bottom: 750px;
}

.login{
  margin: 10px auto;
  background-color: #c9e265;
  border-color: #114d4d;
  border-style: solid;
  border-radius: 15px; 
  padding-bottom: 15px;
}

.loginform{
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 10px; 


}
#login-btn {
  text-decoration: none;
  font-family:"Poppins","Source Sans Pro","Helvetica Neue","Sans Serif"!important;
  font-size: 1em;
    color:#f8f0e0;
    background-color: #114d4d;

}
#login-btn:hover{
  color: orange;
}

.propose-register{
  text-decoration: none;
  font-family:"Open Sans","Helvetica Neue","Sans Serif" ;
  padding: 10px;
}

a.propose-register{
  text-decoration: none;
  font-family:"Open Sans","Helvetica Neue","Sans Serif" ;
  margin-bottom: 100px;
  color: black;
}
a.propose-register:hover{
  text-decoration: none;
  font-family:"Open Sans","Helvetica Neue","Sans Serif" ;
  color:orange;
}


/*Kontakt*/ 

.container-contact{
  background-image: url("../src/img/login.png");  
  padding-top: 50px;
  padding-bottom: 550px;
}
.contact-data{
  text-align: left;
  padding: 80px;
  padding-left:20em; 
  font-family:"Open Sans","Helvetica Neue","Sans Serif" ;
  background-color: #f8f0e0;
  
  
}
.contact-form{
  background-color: #f8f0e0;
  
  padding: 80px;
  }


  /*Restaurants*/

  .containter-offers{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 350px;
  }
  .city-selection{
    text-align: center;
    margin-bottom: 20px;
  }